Aplicacion1/src/jbiServiceUnits/SOA_BPEL/localhost_32837/RastreoWS/Rastreo.wsdl

<?xml version='1.0' encoding='UTF-8'?><!-- Published by JAX-WS RI (http://jax-ws.java.net). RI's version is Metro/2.3.2-b608 (trunk-7979; 2015-01-21T12:50:19+0000) JAXWS-RI/2.2.11-b150120.1832 JAXWS-API/2.2.12 JAXB-RI/2.2.12-b141219.1637 JAXB-API/2.2.13-b141020.1521 svn-revision#unknown. --><!-- Generated by JAX-WS RI (http://jax-ws.java.net). RI's version is Metro/2.3.2-b608 (trunk-7979; 2015-01-21T12:50:19+0000) JAXWS-RI/2.2.11-b150120.1832 JAXWS-API/2.2.12 JAXB-RI/2.2.12-b141219.1637 JAXB-API/2.2.13-b141020.1521 svn-revision#unknown. --><definitions xmlns:wsu="http://docs.oasis-open.org/wss/2004/01/oasis-200401-wss-wssecurity-utility-1.0.xsd" xmlns:wsp="http://www.w3.org/ns/ws-policy" xmlns:wsp1_2="http://schemas.xmlsoap.org/ws/2004/09/policy" xmlns:wsam="http://www.w3.org/2007/05/addressing/metadata" xmlns:soap="http://schemas.xmlsoap.org/wsdl/soap/" xmlns:tns="http://ws.rastreo/" xmlns:xsd="http://www.w3.org/2001/XMLSchema" xmlns="http://schemas.xmlsoap.org/wsdl/" targetNamespace="http://ws.rastreo/" name="Rastreo">
<types>
<xsd:schema>
<xsd:import namespace="http://ws.rastreo/" schemaLocation="http://localhost:32837/RastreoWS/Rastreo?xsd=1"/>
</xsd:schema>
</types>
<message name="hello">
<part name="parameters" element="tns:hello"/>
</message>
<message name="helloResponse">
<part name="parameters" element="tns:helloResponse"/>
</message>
<message name="rastrearCliente">
<part name="parameters" element="tns:rastrearCliente"/>
</message>
<message name="rastrearClienteResponse">
<part name="parameters" element="tns:rastrearClienteResponse"/>
</message>
<message name="rastrearPiloto">
<part name="parameters" element="tns:rastrearPiloto"/>
</message>
<message name="rastrearPilotoResponse">
<part name="parameters" element="tns:rastrearPilotoResponse"/>
</message>
<portType name="Rastreo">
<operation name="hello">
<input wsam:Action="http://ws.rastreo/Rastreo/helloRequest" message="tns:hello"/>
<output wsam:Action="http://ws.rastreo/Rastreo/helloResponse" message="tns:helloResponse"/>
</operation>
<operation name="rastrearCliente">
<input wsam:Action="http://ws.rastreo/Rastreo/rastrearClienteRequest" message="tns:rastrearCliente"/>
<output wsam:Action="http://ws.rastreo/Rastreo/rastrearClienteResponse" message="tns:rastrearClienteResponse"/>
</operation>
<operation name="rastrearPiloto">
<input wsam:Action="http://ws.rastreo/Rastreo/rastrearPilotoRequest" message="tns:rastrearPiloto"/>
<output wsam:Action="http://ws.rastreo/Rastreo/rastrearPilotoResponse" message="tns:rastrearPilotoResponse"/>
</operation>
</portType>
<binding name="RastreoPortBinding" type="tns:Rastreo">
<soap:binding transport="http://schemas.xmlsoap.org/soap/http" style="document"/>
<operation name="hello">
<soap:operation soapAction=""/>
<input>
<soap:body use="literal" namespace="http://j2ee.netbeans.org/wsdl/WS-I_R2717/src/WS-I_R2717violation"/>
</input>
<output>
<soap:body use="literal" namespace="http://j2ee.netbeans.org/wsdl/WS-I_R2717/src/WS-I_R2717violation"/>
</output>
</operation>
<operation name="rastrearCliente">
<soap:operation soapAction=""/>
<input>
<soap:body use="literal" namespace="http://j2ee.netbeans.org/wsdl/WS-I_R2717/src/WS-I_R2717violation"/>
</input>
<output>
<soap:body use="literal" namespace="http://j2ee.netbeans.org/wsdl/WS-I_R2717/src/WS-I_R2717violation"/>
</output>
</operation>
<operation name="rastrearPiloto">
<soap:operation soapAction=""/>
<input>
<soap:body use="literal" namespace="http://j2ee.netbeans.org/wsdl/WS-I_R2717/src/WS-I_R2717violation"/>
</input>
<output>
<soap:body use="literal" namespace="http://j2ee.netbeans.org/wsdl/WS-I_R2717/src/WS-I_R2717violation"/>
</output>
</operation>
</binding>
<service name="Rastreo">
<port name="RastreoPort" binding="tns:RastreoPortBinding">
<soap:address location="http://localhost:32837/RastreoWS/Rastreo"/>
</port>
</service>
</definitions>